*{
    margin: 0;
}

body{
    background-color: #e6e7d5;
   
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #127bbd;
    padding-left: 50px;
}

.titulo-cabecalho{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.logo-cabecalho{
    width: 157px;
    height: 157px;
}

.nav-bar{
    display: flex;
    padding-left: 100px;
    background-color: rgb(190, 190, 188);
    margin-bottom: 40px;
}

.nav-bar-home{
    color: white;
    font-weight: bolder;
    width: 60px;
    margin-right: 10px;
    height: 24px;
    padding: 2px 0 0px 4px;
    background-color: darkgrey;
    
}

.nav-bar-home:hover{
    text-decoration: underline;
    background-color: rgb(146, 145, 145);
    cursor: pointer;
}

.nav-bar-home:active{
    background-color: rgb(112, 112, 112);
    
}

.nav-bar-porcentagem{
    color: white;
    font-weight: bolder;
    width: 250px;
    height: 24px;
    padding: 2px 0 0px 4px;
    background-color: darkgrey;
   
}

.nav-bar-porcentagem:hover{
    text-decoration: underline;
    background-color: rgb(146, 145, 145);
    cursor: pointer;

}

.nav-bar-porcentagem:active{
    background-color: rgb(112, 112, 112);
}

.div-filtro{
    display: flex;
    background-color: #e6e7d5;
    flex-direction: column;
    margin: 67px 0 32px 8px;
}


.label-filtro{
    margin-left: 72px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(24, 8, 112);
}

.input-filtro{
    width: 256px;
    height: 40px;
    margin-left: 72px;
    border: none;
    margin-bottom: 36px;
    margin-top: 6px;
}

.secao-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e6e7d5;
}

.menu-index{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    /* grid-template-rows: auto; */
    grid-gap: 50px;
    margin: 0;
}

.paises-imagens{
    width: 100%;
    height: 157px;
}

.card-paises .titulo-card{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    margin: 20px 0 15px 20px;
    font-size: 21px;
}

.card-paises{

    background-color: rgb(255 251 232);
    width: 256px;
    padding-bottom: 40px;
}

.card-paises:hover{
    border: 2px solid #127bbd;
   
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
     
}

.populacao-card, .regiao-card, .capital-card{
    font-family: monospace;
    font-size: 14px;
    margin-left: 22px;
}



/* Pagina dois - porcentagem......... */

.corpo-porcentagem{
    background-color: white;
}

.menu-porcentagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.secao-porcentagem{
    display: flex;
    flex-direction: column;
}

.imagem-porcentagem{
    width: 531px;
    height: 608px;
    padding-top: 45px;
}

.texto-porcentagem{
    font-family: 'Merriweather', serif;
}
.div-referencias{
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 53px;
    padding: 100px 0 100px 150px;
}
.imagem-mundo-pessoas{
    width: 368px;
    height: 368px;
    background-color: white;
    margin-left: 285px;
}


.referencias{
    display: flex;
    flex-direction: column;
    width: 280px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 150px;
    background-color: white;
}

.titulo-referencias{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.referencias a{
    margin-bottom: 10px;
}



.rodape{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #127bbd;
    margin-top: 100px;
    font-family: 'Merriweather', serif;
    color: white;
    text-decoration: underline;
}

.invisivel{
    display: none;
}
.visivel{
    display: inline;
}